body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 300px;
}

h1 {
    font-size: 18px;
}

button {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

#imageLinks {
    display: flex;
    flex-direction: column;
}

#imageLinks div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#imageLinks img {
    margin-right: 10px;
    width: 100px; /* Set a fixed width for image previews */
}